<img src="content/imgs/SetInStoneHeader.png" style="width:100%; padding: 20px;" />
<h1>Set in Stone</h1>
<h4>Version 0.1 (pre-beta)</h4>
<u>Download</u>
<p>
    <a onclick="require('electron').shell.openExternal('http://cute.opengine.io/files/Releases/SetInStone.Prototype.zip')" href=""><span class="icon icon-windows8"></span> Windows</a>
</p>
<br />
<hr />
A CO-OP game for parents to play with their kids. It plays off the nostalgia of Zelda games, while striving to make a fun game for both parent and child to play at the same time.
