<!doctype html>
<html ng-app="engineApp">
    <head>
        <meta charset="utf-8">
        <title>Electron Boilerplate</title>

        <script>
        var path = require('path');

        module.paths.push(path.resolve('node_modules'));
        module.paths.push(path.resolve('../node_modules'));
        module.paths.push(path.resolve(__dirname, '..', '..', 'electron', 'node_modules'));
        module.paths.push(path.resolve(__dirname, '..', '..', 'electron.asar', 'node_modules'));
        module.paths.push(path.resolve(__dirname, '..', '..', 'app', 'node_modules'));
        module.paths.push(path.resolve(__dirname, '..', '..', 'app.asar', 'node_modules'));

        var Module = require('module');
        Module.globalPaths.push( path.join(__dirname, 'node_modules') );
        Module.globalPaths.push( path.join(__dirname, '..', 'node_modules') );
        Module.globalPaths.push( path.join(__dirname, '..', '..', '..', 'app.asar', 'node_modules') );

        path = undefined;

        var qs = (function(a) {
            if (a == "") return {};
            var b = {};
            for (var i = 0; i < a.length; ++i)
            {
                var p=a[i].split('=', 2);
                if (p.length == 1)
                    b[p[0]] = "";
                else
                    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
            return b;
        })(window.location.search.substr(1).split('&'));

        if(qs['access_token']) {
            window.localStorage.setItem('login-token', qs['access_token']);
        }


        function define() {

        }
        </script>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">
        <link href="vendor/powertour/powertour.min.3.1.0.css" rel="stylesheet" type="text/css">
        <link href="vendor/powertour/powertour-style-clean.min.css" rel="stylesheet" type="text/css">
        <link href="vendor/powertour/animate.min.css" rel="stylesheet" type="text/css">

        <script src="vendor/electron_boilerplate/context_menu.js"></script>
        <script src="vendor/electron_boilerplate/external_links.js"></script>

        <script src="vendor/jquery.min.js" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
        <script src="vendor/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>

        <script src="bower_components/blob/Blob.js"></script>
        <script src="bower_components/FileSaver/FileSaver.js"></script>
        <script src="vendor/powertour/powertour.lite.3.1.0.min.js"></script>

        <script src="vendor/card.js"></script>

        <script src="js/engine.js"></script>
        <script src="appBundle.js"></script>

        <script src="vendor/splitter.js"></script>

        <script>
            $.browser = $.browser || {};
            String.prototype.endsWith = function(suffix) {
                return this.indexOf(suffix, this.length - suffix.length) !== -1;
            };
            String.prototype.extension = function() {
                var ind = this.lastIndexOf('.');
                if(ind < 0) return '';
                return this.substr(ind);
            };
        </script>
        <script>
          function externalLink(el) {
            require('electron').shell.openExternal($(el).data('href'));
            return false;
          }
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-28069191-7', 'auto');
          ga('send', 'pageview');
        </script>

        <script src="app.js"></script>
    </head>
    <body ng-controller="engineCtrl" id="Thelauncher">

        <div class="launcher-side-menu">
            <div class="logo nopadding">
                <div style="width: 100%; background-color: #fff; padding: 8px;height: 50px;">
                    <a href="" ng-click="open('http://opengine.io')"><img style="height: 35px" src="content/imgs/OPengineLogoSmall.png" /></a>
                </div>
            </div>
            <div class="sections">
                <ul>
                    <li class="news" ng-class="getClass('/news')">
                        <a href="#/news"><span class="icon-newspaper-o"></span><span class="text">News</span></a>
                    </li>
                    <li class="learn" ng-class="getClass('/learn')">
                        <a href="#/learn"><span class="icon-mortar-board2"></span><span class="text">Documentation</span></a>
                    </li>
                    <li class="marketplace" ng-class="getClass('/marketplace')">
                        <a href="#/marketplace"><span class="icon-rocket"></span><span class="text">Marketplace</span></a>
                    </li>
                    <li class="library" ng-class="getClass('/library')" id="menu-library">
                        <a href="#/library"><span class="icon-books"></span><span class="text">Library</span></a>
                    </li>
                    <li class="tools" ng-class="getClass('/tools')">
                        <a href="#/tools"><span class="icon-tools"></span><span class="text">Tools</span></a>
                    </li>
                </ul>
            </div>

            <div class="sections sections-bottom">
                <ul>
                    <li class="terminal">
                        <a href="" ng-click="toggleConsole()"><span class="icon-terminal"></span><span class="text">Terminal</span></a>
                    </li>
                    <li class="bug" ng-class="getClass('/bug')">
                        <a href="#/bug"><span class="icon-bug"></span><span class="text">Report a bug</span></a>
                    </li>
                    <li class="settings" ng-class="getClass('/settings')">
                        <a href="#/settings"><span class="icon-gear"></span><span class="text">Settings</span></a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="container" id="mainContainer">

            <div class="toolbar">
                <div class="toolbar-bg-bottom"></div>
                <div class="tabs">
                  <div class="tab current-tab">
                    <div class="tab-state"><div class="tabbed-state-contain"><div class="tabbed-side-state-bg"></div></div></div>
                    <div class="tab-seperator"></div>
                    <div class="tab-text">Library</div>
                  </div>
                  <!-- <div class="tab">Set in Stone</div> -->
                  <div class="tabbed-side-left"><div class="tabbed-left-contain"><div class="tabbed-side-left-bg"></div></div></div>
                </div>
                <div class="account">
                  <div class="account-name">
                    <div class="dropdown">
                      <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{user.firstName}} {{user.lastName}} ({{user.subscription || 'personal'}}) <span class="icon-chevron-down"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#/license">Change Subscription</a></li>
                        <li><a href="#/account">Account Settings</a></li>
                        <li><a href="#/slack"><span class="icon-slack"></span> Slack</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="signout()">Sign out</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="window-side-right-bg">
                  <div class="tabbed-right-contain"><div class="tabbed-side-right-bg"></div></div>
                </div>
                <div class="window">
                    <a class="window-minimize" href="javascript:void(0);" id="minimize">
                        <span class="icon-delete"></span>
                    </a>
                    <a class="window-maximize" href="javascript:void(0);" id="maximize">
                        <span class="icon-square-o"></span>
                    </a>
                    <a class="window-close" href="javascript:void(0);" id="close" ng-click="close()">
                        <span class="icon-close2"></span>
                    </a>
                </div>
            </div>

            <div class="content">
                <div class="main nopadding">
                    <div class="text-left" ng-if="console.display && console.task" style="position: absolute; top: 0; width: 100%; height: 40px; border-bottom: 1px solid #fff;    font-size: 20px; background-color: #000; color: #fff; padding: 5px; padding-left: 30px; z-index: 10001">
                        {{console.task}}
                        <a href="javascript:void(0)" ng-click="toggleConsole()" style="position: absolute; right: 12px;"><span class="icon-close"></span></a>
                    </div>
                    <div class="console text-left" ng-if="console.display">
                        <div class="line" ng-repeat="line in console.lines track by $index">
                            <span ng-class="{ error: line.type == 2, success: line.type == 3 }">{{line.text}}</span>
                        </div>
                    </div>

                    <div ng-view style="display:block; height: 100%;"> </div>

                </div>
            </div>
        </div>


        <div class="single-step" id="step-id-1">
            <div class="step-content">
              <h3>Welcome to the OPengine Launcher!</h3>
            </div>
            <div class="step-navigation one">
              <a class="btn btn-primary" href="#" data-powertour-action="next" style="float:right">Take a look around  ></a>
            </div>
            <a class="close" href="#" data-powertour-action="stop">X</a>
        </div>

        <div class="single-step" id="step-id-2">
            <div class="step-content">
              <h3>Step two</h3>
              <p>This is the second step and should be located next to (left side) 'demo box 2' example blocks. This step highlights the step and hookTo element.</p>
            </div>
            <div class="step-navigation">
              <a class="btn btn-default" href="#" data-powertour-action="prev">Prev step</a>
              <a class="btn btn-primary" href="#" data-powertour-action="next" style="float:right">Next step</a>
            </div>
            <a class="close" href="#" data-powertour-action="stop">X</a>
        </div>

        <div class="single-step" id="step-id-3">
            <div class="step-content">
              <h3>Step three</h3>
              <p>This is the third and last step and should be located above and over the 'demo box 3' example blocks with the use of the 'offsetY' and 'offsetX' options.</p>
            </div>
            <div class="step-navigation">
              <a class="btn btn-default" href="#" data-powertour-action="prev">Prev step</a>
              <a class="btn btn-primary" href="#" data-powertour-action="next" style="float:right">Next step</a>
            </div>
            <a class="close" href="#" data-powertour-action="stop">X</a>
        </div>

        <div class="loading-icon" style="width: 100px; height: 100px; position: absolute; bottom: 10px; right: 10px;">
          <img class="logo-icon rotating" src="content/imgs/OPengineLogoWhite.png" width="100" alt="..." style="margin-top: -5px;" />
        </div>

    </body>

</html>
