html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}

@secondary-color: #466674;
@primary-color: #344c58;
@active-color: #7c9d6a;
@active-dark-color: #6c8d5a;
@highlight-color: #ffffff;
@danger-color: #c13333;
@opifex-blue-color: #2abade;

@font-face {
    font-family: OpenSansCondBold;
    src: url(../fonts/OpenSans-CondBold.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-kmfpy8');
	src:url('../fonts/icomoon.eot?#iefix-kmfpy8') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-kmfpy8') format('truetype'),
		url('../fonts/icomoon.woff?-kmfpy8') format('woff'),
		url('../fonts/icomoon.svg?-kmfpy8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sublime-text .path1:before {
    content: "\e915";
    color: rgb(76, 76, 76);
}
.icon-sublime-text .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(217, 217, 217);
}
.icon-sublime-text .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 129, 0);
}
.icon-sublime-text .path4:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(38, 38, 38);
}
.icon-sublime-text .path5:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(153, 153, 153);
}
.icon-Visual_Studio_2012_logo_and_wordmark:before {
    content: "\e800";
}
.icon-terminal:before {
    content: "\e60e";
}
.icon-twitter2:before {
    content: "\e60f";
}
.icon-youtube2:before {
    content: "\e610";
}
.icon-file-document:before {
    content: "\e900";
}
.icon-folder-2:before {
    content: "\e611";
}
.icon-folder2:before {
    content: "\e901";
}
.icon-android:before {
    content: "\e612";
}
.icon-apple:before {
    content: "\e613";
}
.icon-chrome:before {
    content: "\e614";
}
.icon-facebook:before {
    content: "\e615";
}
.icon-github:before {
    content: "\e600";
}
.icon-html:before {
    content: "\e616";
}
.icon-twitter:before {
    content: "\e601";
}
.icon-youtube:before {
    content: "\e602";
}
.icon-alert:before {
    content: "\e617";
}
.icon-bug:before {
    content: "\e603";
}
.icon-delete-22:before {
    content: "\e618";
}
.icon-envelope:before {
    content: "\e902";
}
.icon-menu-list:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e90d";
}
.icon-message-2:before {
    content: "\e604";
}
.icon-notification:before {
    content: "\e619";
}
.icon-slide-off:before {
    content: "\e904";
}
.icon-slide-on:before {
    content: "\e905";
}
.icon-star-full:before {
    content: "\e61a";
}
.icon-star:before {
    content: "\e61b";
}
.icon-stats:before {
    content: "\e605";
}
.icon-tags:before {
    content: "\e61c";
}
.icon-users:before {
    content: "\e606";
}
.icon-floppy:before {
    content: "\e906";
}
.icon-gear:before {
    content: "\e607";
}
.icon-left:before {
    content: "\e608";
}
.icon-mouse:before {
    content: "\e907";
}
.icon-photo:before {
    content: "\e908";
}
.icon-add:before {
    content: "\e609";
}
.icon-checklist:before {
    content: "\e90e";
}
.icon-correct:before {
    content: "\e60a";
}
.icon-delete-2:before {
    content: "\e60b";
}
.icon-delete:before {
    content: "\e60c";
}
.icon-justify-all:before {
    content: "\e90f";
}
.icon-left-2:before {
    content: "\e60d";
}
.icon-list:before {
    content: "\e910";
}
.icon-pan:before {
    content: "\e909";
}
.icon-ruler:before {
    content: "\e914";
}
.icon-scale-down:before {
    content: "\e90a";
}
.icon-scale-right:before {
    content: "\e90b";
}
.icon-scale-tool:before {
    content: "\e90c";
}
.icon-genius:before {
    content: "\e801";
}
.icon-atom:before {
    content: "\e802";
}
.icon-checkbox-checked:before {
    content: "\45";
}
.icon-checkbox-unchecked:before {
    content: "\44";
}
.icon-music:before {
    content: "\e911";
}
.icon-play:before {
    content: "\e912";
}
.icon-film:before {
    content: "\e913";
}
.icon-file-text:before {
    content: "\e922";
}
.icon-folder:before {
    content: "\e92f";
}
.icon-folder-open:before {
    content: "\e930";
}
.icon-folder-plus:before {
    content: "\e931";
}
.icon-folder-minus:before {
    content: "\e932";
}
.icon-folder-download:before {
    content: "\e933";
}
.icon-folder-upload:before {
    content: "\e934";
}
.icon-price-tag:before {
    content: "\e935";
}
.icon-price-tags:before {
    content: "\e936";
}
.icon-bell:before {
    content: "\e951";
}
.icon-keyboard:before {
    content: "\e955";
}
.icon-box-add:before {
    content: "\e95e";
}
.icon-box-remove:before {
    content: "\e95f";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-bubbles:before {
    content: "\e96c";
}
.icon-bubbles2:before {
    content: "\e96d";
}
.icon-bubble2:before {
    content: "\e96e";
}
.icon-bubbles3:before {
    content: "\e96f";
}
.icon-bubbles4:before {
    content: "\e970";
}
.icon-user:before {
    content: "\e971";
}
.icon-users2:before {
    content: "\e972";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-user-minus:before {
    content: "\e974";
}
.icon-user-check:before {
    content: "\e975";
}
.icon-user-tie:before {
    content: "\e976";
}
.icon-enlarge:before {
    content: "\e989";
}
.icon-shrink:before {
    content: "\e98a";
}
.icon-enlarge2:before {
    content: "\e98b";
}
.icon-equalizer:before {
    content: "\e992";
}
.icon-cogs:before {
    content: "\e995";
}
.icon-bin:before {
    content: "\e9ac";
}
.icon-bin2:before {
    content: "\e9ad";
}
.icon-warning:before {
    content: "\ea07";
}
.icon-notification2:before {
    content: "\ea08";
}
.icon-question:before {
    content: "\ea09";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-circle-up:before {
    content: "\ea41";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-down:before {
    content: "\ea43";
}
.icon-circle-left:before {
    content: "\ea44";
}
.icon-share:before {
    content: "\ea7d";
}
.icon-embed:before {
    content: "\ea7f";
}
.icon-embed2:before {
    content: "\ea80";
}
.icon-terminal2:before {
    content: "\ea81";
}
.icon-share2:before {
    content: "\ea82";
}
.icon-mail4:before {
    content: "\ea86";
}
.icon-google-plus3:before {
    content: "\ea8a";
}
.icon-facebook2:before {
    content: "\ea8c";
}
.icon-facebook3:before {
    content: "\ea8e";
}
.icon-twitter3:before {
    content: "\ea91";
}
.icon-twitter32:before {
    content: "\ea93";
}
.icon-youtube22:before {
    content: "\ea98";
}
.icon-youtube3:before {
    content: "\ea99";
}
.icon-twitch:before {
    content: "\ea9b";
}
.icon-vimeo3:before {
    content: "\ea9e";
}
.icon-steam2:before {
    content: "\eaae";
}
.icon-github2:before {
    content: "\eab1";
}
.icon-tux:before {
    content: "\eabe";
}
.icon-apple2:before {
    content: "\eabf";
}
.icon-android2:before {
    content: "\eac1";
}
.icon-windows8:before {
    content: "\eac3";
}
.icon-soundcloud2:before {
    content: "\eac5";
}
.icon-reddit:before {
    content: "\eac7";
}
.icon-stackoverflow:before {
    content: "\eacf";
}
.icon-html5:before {
    content: "\eadf";
}
.icon-html52:before {
    content: "\eae0";
}
.icon-git:before {
    content: "\eae2";
}
.icon-chrome2:before {
    content: "\eae5";
}
.icon-firefox:before {
    content: "\eae6";
}
.icon-IE:before {
    content: "\eae7";
}
.icon-opera:before {
    content: "\eae8";
}
.icon-safari:before {
    content: "\eae9";
}
.icon-IcoMoon:before {
    content: "\eaea";
}



.file .icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon.file:before {
    content: "\e900";
}




html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: @highlight-color;
}

a {
    text-decoration: none;
    color: @highlight-color;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

.subtitle {
    color: gray;
}

// Overrides
.container {
    width: 100%;
    height: 100%;
}

.btn-primary {
    background-color: @active-color;
    border: 0;
}
.btn-primary:hover {
    background-color: @active-dark-color;
    border: 0;
}
.btn-primary:focus {
    background-color: @active-dark-color;
    border: 0;
}
.btn-default {
    background-color: @secondary-color;
    border: 0;
}

.form-fill {
    width: 100%;
}

h2 {
    font-size: 24px;
    font-family: 'OpenSansRegular';
}

.btn-group {
    .btn {
        line-height: 1.1;
        span.header {
            font-family: 'OpenSansBold';
            font-size: 18px;
        }
        span.sub {
            font-family: 'OpenSansRegular';
            font-size: 12px;
        }
        padding: 4px 12px;
        height: 45px;
    }
    .btn:focus {
        background-color: @active-dark-color !important;
        border: 0;
    }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.extrapadding {
   padding-left: 15px !important;
   padding-right: 15px !important;
}

.inner-content-padding {
    padding-left: 40px !important;
}

.row.content {
    height: 100%;
}

.sidebar {
    background-color: @secondary-color;
    height: 100%;
    .header .title {
        font-family: 'OpenSansCondBold';
        font-size: 24.0px;
    }
}

.main {
    background-color: @primary-color;
    height: 100%;
}

.toolbar {
    background-color: @highlight-color;
    color: #000;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    a {
        color: #000;
        -webkit-app-region: no-drag;
    }
}

.sidebar {
    .favorites {
        margin-top: 10px;
    }
}

.sections {
    margin-top: 40%;

    ul {
        padding-left: 0px;
        li {
            font-size: 22px;
            font-family: 'OpenSansRegular';
            color: @highlight-color;
            list-style-type: none;
            text-align: left;
            padding: 3px;
            padding-left: 15px;
            a {
                color: @highlight-color;
            }
            a:hover {
                text-decoration: none;
                color: @primary-color;
            }

            ul li {
                font-size: 16px;
            }
        }
        li.active {
            background-color: @active-color;
        }
    }
}

.main {
    a {
        color: @highlight-color;
    }
    a:hover {
        text-decoration: none;
        color: @secondary-color;
    }
}

.main .header {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid @highlight-color;
    a, button {
        margin: 5px;
        font-size: 20px;
        padding: 4px;
    }

    a.btn, button.btn {
        margin: 1px;
        font-size: 12px;
        padding: 4px 16px;
        border: 1px solid #7c9d6a;
        background-color: transparent;
        color: #7c9d6a;
        display: inline-block;
        margin-top: -4px;
    }
    a.btn.dropdown-toggle {
        height: 27px;
        margin: 1px;
        margin-top: -4px;
        padding: 6px 16px;
    }

    .project-name {
        a.btn.dropdown-toggle {
            padding: 6px 17px;
            border: 0px solid #7c9d6a;
            color: #fff;
            font-size: 14px;
        }
        a.btn.dropdown-toggle:active, a.btn.dropdown-toggle:hover {
            background-color: transparent;
        }
    }

    ul.dropdown-menu {
        padding: 0px;
        li a {
            font-size: 12px;
        }
    }
}

.main .section {
    .title {
        border-bottom: 1px solid @active-color;
        padding-top: 4px;
        padding-bottom: 8px;
        .action {
            font-size: 16px;
            margin-left: 100px;
            .icon-add {
                font-size: 14px;
                padding-right: 4px;
                color: @active-color;
            }
        }


        .icon-left {
            font-size:20px;
            color: @secondary-color;
        }
        .icon-star {
            font-size:20px;
            padding-left: 10px;
        }
        .icon-star-full {
            font-size:20px;
            padding-left: 10px;
            color: @active-color;
        }
    }

    h3.title {
        font-size: 20px;
        color: #fff;
        border-bottom: 1px solid @secondary-color;
    }
}

.library {
    .engine-version {
        border: 3px solid @active-color;
        width: 200px;
        height: 100px;
        float: left;
        margin: 20px;
        border-radius: 6px;
        a {
            width: 100%;
            height: 100%;
            display: inline-block;
            background-color:@highlight-color;
            color: #000;
            border: 3px solid @highlight-color;
            border-radius: 3px;
            padding: 5px;
        }
    }
}

.console {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    padding: 25px;
    padding-bottom: 70px;
    margin-bottom: 30px;
    z-index: 10000;
    overflow: scroll;
    .line {
        padding: 1px 0px;
    }
    .error {
        color: #f00;
    }
    .success {
        color: @active-color;
    }
}

.modal {
    .modal-content {
        color: #fff;
        background-color: @secondary-color;
    }
}

#toggle-menu {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 15px;
    padding: 0px;
    .icon-bar {
        background-color: white;
    }
}

#bs-navbar {
    background-color: @secondary-color;
    color: #fff;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 100px;
    bottom: 0;
    z-index: 10000;
}
.styled-select {

   height: 24px;
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: @secondary-color;
   margin: 5px 0px;

   select {
       background: transparent;
       padding: 0px;
       padding-left: 10px;
       color: #fff;
       font-size: 16px;
       line-height: 1;
       border: 0;
       border-radius: 0;
       height: 24px;
       -webkit-appearance: none;
   }

   .caret {
       position: absolute;
       top: 15px;
       right: 26px;
       pointer-events:none;
   }
}

@media ( max-width: 768px ) {
    .styled-select {
       .caret {
           top: 11px;
       }
   }
}

input[type=checkbox] {
	visibility: hidden;
}

/* SQUARED ONE */
.checkbox {
	width: 22px;
	height: 22px;
	background: #fff;

    margin: 5px 0px;

	position: relative;
}

.checkbox label.check {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1px;
	top: 1px;

	background-color: @secondary-color;
}

.checkbox label.check:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
    width: 14px;
    height: 7px;

	background: #00bf00;

	top: 5px;
	left: 3px;

    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

	background-color: @secondary-color;
}

.checkbox label.check:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label.check:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	top: 5px;
	left: 3px;

    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

	background-color: @secondary-color;
}

.checkbox label.text {
	height: 20px;
	left: 4px;
	top: 2px;

    margin-left: 10px;
    padding-top: 2px;
    white-space: nowrap;
}

input[type=text], textarea.form-control {
    border: 1px solid white;
    background-color: @secondary-color;
    border-radius: 0px;
    color: #fff;
}

select option {
    background-color: @secondary-color;
}

.project-controls {
    a {
        margin: 10px 0px;
    }
}

a:hover, a:focus, a:active {
    text-decoration: none;
}



@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 40s linear infinite;
  -moz-animation: rotating 40s linear infinite;
  -ms-animation: rotating 40s linear infinite;
  -o-animation: rotating 40s linear infinite;
  animation: rotating 40s linear infinite;
}


#codeHeader {
    width: 100%;
    height: 40px;
    background-color: #141414;
    text-align: left;
    .file {
        display: inline-block;
        padding: 10px 10px;
        background-color: #1D1D1D;
        border-radius: 5px 5px 0px 0px;
        color: #fff;
        .close {
            display: inline-block;
            padding-left: 10px;
            color: #fff;
            text-shadow: 0 0px 0 #fff;
            font-size: 12px;
            font-weight: 100;
        }
    }
    .file.active, .file.active a {
        color: #58C554;
    }
}

ol.codetree {
    width: 100%;
    background-color: #141414;
    text-align: left;
    height: 100%;
    padding-left: 0px;
    overflow: auto;
    padding-bottom: 100px;
    li input {
        position: absolute;
        left: 0;
        margin-left: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        height: 1em;
        width: 1em;
        top: 0;
    }
    li label {
        cursor: pointer;
        display: block;
        padding-left: 35px;
        margin-bottom: 0px;
    }

    li input + ol {
        margin-left: -10px;
        margin-top: -4px;
        display: block;
    }

    li input + ol > li {
        display: none;
        margin-left: -14px !important;
        padding-left: 1px;
    }
    li input + ol {
        display: none;
    }
    li input:checked + ol > li {
        display: block;
        margin: 0 0 0.125em;
    }
    li input:checked + ol {
        display: block;
        margin-top: 0px;
    }
    li label {
        color: #0ECAEB;
    }
    li.file a {
        color: #fff;
        padding-left: 21px;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }
    li {
        position: relative;
        margin-left: -15px;
        list-style: none;
    }
    li.file {
        margin-left: -1px !important;
    }
    li.file a[href $= '.pdf']     { background-position: -16px -1px; }
    li.file a[href $= '.html']    { background-position: -32px -1px; }
    li.file a[href $= '.css']     { background-position: -48px -1px; }
    li.file a[href $= '.js']      { background-position: -64px -1px; }

    li.active a {
        color: #58C554;
    }
}

.yes-no-modal {
    .btn.btn-default {
        font-size: 12px;
        padding: 4px 16px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        display: inline-block;
    }
    .btn.btn-primary {
        font-size: 12px;
        padding: 4px 16px;
        border: 1px solid #7c9d6a;
        color: #fff;
        display: inline-block;
    }
}

.global-settings {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    a {
        padding: 6px;
        font-size: 20px;
    }
}

#showFileModal {
    .modal-content {
        background-color: transparent;
        box-shadow: none;
        border: 0;
    }
}


.h-header.h-row {
    display: none !important;
}
.h-body.h-row {
    top: 0px !important;
    bottom: 0px !important;
}
.h-footer.h-row {
    display: none !important;
}



body.main {
    align-items: baseline;
    color: #000;
    .header {
        width: 100%;
        .stitches-toolbar {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
        }
        .btn-primary {
            margin: 1px;
            font-size: 12px;
            padding: 4px 16px;
            border: 1px solid #7c9d6a;
            background-color: transparent;
            color: #7c9d6a;
            display: inline-block;
            margin-top: -4px;
            position: relative;

            input {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

        }

        .btn {
            line-height: 1.42857143;
            padding: 4px 16px;
            height: auto;
        }
    }
}

.stitches-container {
    width: 100%;
    height: 100%;
    .stitches {
        height: 100%;
        .stitches-drop-box {
            height: 100%;
        }
        .stitches-wrap {
            background-color: @primary-color;
        }
        .stitches-toolbar {
            background-image: none;
            background-color: @primary-color;
            border: 0;
        }
    }
}
