<div style="text-align:left; height: 100%; overflow: scroll-y; display:block; padding: 30px;">

  <div style="max-width: 900px">
    <div class="row">
      <div class="col-xs-4">
        <img src="content/imgs/account-default.png" style="width: 100%;" />
      </div>
      <div class="col-xs-8">
        <h3>Profile</h3>
        <input type="text" placeholder="First Name" ng-model="user.firstName" class="form-control" /><br />
        <input type="text" placeholder="Last Name" ng-model="user.lastName" class="form-control" /><br />
        <div class="text-right">
          <a class="btn btn-primary btn-lg" href="javascript:void(0)" ng-click="submit()">Save</a>
        </div>

        <h3>Subscription: <span ng-if="!user.subscription">personal</span><span ng-if="user.subscription">{{user.subscription}}</span></h3>
        <div ng-if="!user.subscription">
          <a href="#/license">Get an OPengine subscription</a> and start selling your games.
          <div><i>Note that you do not need an active subscription unless you're selling your games.</i></div>
        </div>
        <div ng-if="subscription != null">
          <br />
          <div class="subscription">
            <p></p>
            <p ng-if="!subscription.cancelled">Status: {{subscription.status}}</p>
            <p ng-if="subscription.cancelled">Status: cancelled</p>
            <p>Started: {{subscription.created}}</p>
            <p ng-if="subscription.cancelled">Cancelled: {{subscription.cancelled}}</p>
            <p>Period Started: {{subscription.current_period_start}}</p>
            <p>Period Ends: {{subscription.current_period_end}}</p>
            <p>Amount: ${{subscription.amount}}</p>
            <p ng-if="!subscription.renew"><b>* Will not renew at the end of the period *</b></p>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
