



        <div class="header">
          <div class="row">
            <div class="col-xs-7 text-left">
              <div style="padding-top: 5px;">
        			<div class="btn-group btn-group-split">
                <a ng-click="openSLN()" class="btn btn-primary" ng-disabled="!canOpen()"><span class="icon-folder-open"></span> Open Project </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </a>
                <ul class="dropdown-menu">
                  <li style=""><div class="with">with</div></li>
                  <li><a href="" ng-if="windows" ng-click="openSLN()">
                    <img src="content/imgs/Visual_Studio_logo.png" style="width: 24px;" /> Visual Studio</a></li>
                  <li><a href="" ng-click="openWithSublime()">
                    <img src="content/imgs/Sublime_text_logo.png" style="width: 24px;" /> Sublime</a></li>
                  <li><a href="" ng-click="openWithAtom()">
                    <img src="content/imgs/Atom_logo.png" style="width: 24px;" /> <span>Atom</span></a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="" ng-click="openFolder()"><span class="icon-folder-2"></span> Project Folder</a></li>
                  <li><a href="" ng-click="openBuildFolder()"><span class="icon-folder-2"></span> Build Folder</a></li>
                </ul>
        			</div>
              <div class="btn-group btn-group-split">
                <a ng-click="cmake()" class="btn btn-primary"><span class="icon-cmake2">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
              </span> Generate Project</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="cmake(true)">Clean & Generate</a></li>
                </ul>
              </div>

        			<!-- <a ng-click="cmake()" href="javascript:void();" class="btn btn-primary">Generate</a> -->
        			<a ng-click="make()" href="javascript:void();" class="btn btn-primary"> <span class="icon-calculate"></span> Build</a>
        			<a ng-click="run()" href="javascript:void();" class="btn btn-primary">Run&nbsp;&nbsp;<span class="icon-play2"></span></a>
            </div>
          </div>
          <div class="col-xs-5 text-right">

              <div style="padding-top: 5px;">

              <div class="btn-group" ng-if="updates.length > 0">
                <a class="btn btn-updates dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Updates!
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="update in updates"><a ng-click="updateTo(update);" href="javascript:void();">Update to {{update.name}}</a></li>
                </ul>
              </div>

            <div class="btn-group">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon-hammer"></span> Tools
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu">
                <li><a ng-click="editor()" href="javascript:void();">Scene Editor</a></li>
                <li><a ng-click="helperTool()" href="javascript:void();">Helper Tool</a></li>
              </ul>
            </div>
            <a ng-click="toggleCode()" href="javascript:void();" class="btn btn-primary"><span class="icon-equalizer"></span> Build Options</a>

                </div>
              </div>
            </div>
        				<!-- <div class="col-xs-9 text-left">
        						<div class="btn-group project-name">
        							<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								OPengine v{{version}} <span ng-if="changes > 0">*</span> <span class="caret"></span>
        							</a>
        							<ul class="dropdown-menu">
        									<li ng-if="changes > 0"><a href="javascript:void(0);" ng-click="pull()">Pull Changes ({{changes}})</a></li>
        									<li style=""><div style="margin: 5px;color: #666; font-size: 8px; padding: 0px; margin-bottom: 0px;">local</a></li>
        									<li ng-repeat="branch in localBranches"><a href="" ng-click="checkout(branch)"><span ng-if="branch.active">*</span>{{branch.name}}</a></li>
        									<li style=""><div style="margin: 5px;color: #666; font-size: 8px; padding: 0px; margin-bottom: 0px;">remote</a></li>
        									<li ng-repeat="branch in remoteBranches"><a href="" ng-click="checkout(branch)"><span ng-if="branch.active">*</span>{{branch.name}}</a></li>
        							</ul>
        						</div>

        				</div>
        				<div class="col-xs-3 text-right">
        						<a href="" ng-click="toggleConsole()"><span class="icon-terminal"></a>
        						<a href="#!/bug"><span class="icon-bug"></a>
        						<a href="#!/message"><span class="icon-message-2"></a>

        						<a href="" id="toggle-menu" class="navbar-toggle" onclick="$('#bs-navbar').toggle();">
        								<span class="sr-only">Toggle navigation</span>
        								<span class="icon-bar"></span>
        								<span class="icon-bar"></span>
        								<span class="icon-bar"></span>
        						</a>
        				</div>
        		</div> -->
        </div>

      <div class="code" style="height: 100%;overflow: hidden;">
          <code-editor path="engine.repo.absolute" pinned="pinned" show-code="showCode">
            <div style="text-align: left; padding: 20px;" class="section detail" >
            <h3 class="title" style="margin-top: 0px;">Options</h3>
            <div class="row">
                      <div class="col-sm-3" ng-repeat="opt in engine.config.options">
                          <div class="checkbox">
                            <input ng-model="opt.value" type="checkbox" id="{{opt.id}}" />
                            <label class="check" for="{{opt.id}}"></label>
                            <label class="text">{{opt.name}}</label>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-repeat="opt in engine.config.optionSelectors">
                          <div class="styled-select">
                              <select class="form-control" ng-model="opt.value" ng-options="option.name for option in opt.options track by option.id">
                              </select>
                              <span class="caret"></span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6">
                          <div class="styled-select">
                              <select class="form-control" ng-model="os.value" ng-options="option.name for option in os.options track by option.id">
                              </select>
                              <span class="caret"></span>
                          </div>
                      </div>
                      <div ng-if="windows" class="col-lg-3 col-md-4 col-sm-6">
                          <div class="styled-select">
                              <select class="form-control" ng-model="engine.config.visualStudio" ng-options="option.name for option in visualStudios track by option.id">
                              </select>
                              <span class="caret"></span>
                          </div>
                      </div>
            </div>
                  <h3 class="title">Target</h3>
            <div class="row">
                      <div class="col-sm-3" ng-repeat="opt in engine.config.targets">
                          <div class="checkbox">
                              <input ng-model="opt.value" type="checkbox" id="{{opt.id}}" />
                              <label class="check" for="{{opt.id}}"></label>
                              <label class="text">{{opt.name}}</label>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-repeat="opt in engine.config.targetSelectors">
                          <div class="styled-select">
                              <select class="form-control" ng-model="opt.value" ng-options="option.name for option in opt.options track by option.id">
                              </select>
                              <span class="caret"></span>
                          </div>
                      </div>
            </div>
                  <h3 class="title">Tools</h3>
            <div class="row">
                      <div class="col-sm-3" ng-repeat="opt in engine.config.tools">
                          <div class="checkbox">
                              <input ng-model="opt.value" type="checkbox" id="{{opt.id}}" />
                              <label class="check" for="{{opt.id}}"></label>
                              <label class="text">{{opt.name}}</label>
                          </div>
                      </div>
            </div>
                  <!-- <br />
            <div class="project-controls">
              <div class="row">
                <div class="col-sm-4">
                          <a href="" ng-click="cmake()" class="btn btn-primary form-control">Generate</a>
                </div>
                <div class="col-sm-4">
                          <a href="" ng-click="make()" class="btn btn-primary form-control">Build</a>
                </div>
                <div class="col-sm-4">
                          <a href="" ng-click="run()" class="btn btn-primary form-control">Launch</a>
                </div>
              </div>
            </div> -->


              <h3 class="title">Addons</h3>
              <div class="row">
                  <div class="col-sm-3" ng-repeat="opt in engine.config.addons">
                      <div class="checkbox">
                        <input ng-model="opt.value" type="checkbox" id="{{opt.id}}" />
                        <label class="check" for="{{opt.id}}"></label>
                        <label class="text">{{opt.name}}</label>
                      </div>
                  </div>
              </div>
          </div>
          </code-editor>

      </div>


    <!-- <div class="section detail"  ng-class="{ hidden: showCode }">
        <div class="col-xs-12 text-left"> -->
            <!-- <h2 class="title">
                <a href="" onclick="window.history.back()"> <span class="icon-left"></span> </a>
    			OPengine v{{version}}
    			<span class="icon-star-full"></span>

                <div style="float:right" class="text-right">
                    <small>
                        <a href="" ng-click="openFolder()" class="icon-folder"></a>
                    </small>
                </div>
            </h2> -->

            <!-- <div class="extrapadding inner-content-padding">
                <a href="" ng-click="atom()" class="btn btn-default">Open in Atom</a>
                <a href="" ng-click="atomBuild()" class="btn btn-default">Open Build in Atom</a>

                <a ng-if="windows" href="" ng-click="openSLN()" class="btn btn-default" style="padding: 4px 12px;"><span style="font-size: 16px;line-height: 1.5;" class="icon-Visual_Studio_2012_logo_and_wordmark"></span></a>
            </div> -->
<!--
    		<div class="extrapadding inner-content-padding">



    		</div>

    	</div>
    </div> -->


    <!-- <div style="
        background-color: #000;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        z-index: 10002;
         ">

         <a href="" ng-click="ToggleDir()" style="
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 32px;
        background-color: #333;
        color: #fff;
        width: 32px;
        font-size: 24px;
    ">{{Directories[CurrentDir].symbol}}</a>

                <span style="
        display: inline;
        position: absolute;
        left: 32px;
        bottom: 6px;
        padding-left: 8px;
    ">&gt; </span>

    <input style="outline:none;width: 100%; height: 32px; background-color: #000; color: #fff; padding: 5px; padding-left: 40px; margin-left: 15px;border: none;" type="text" ng-model="cmd" on-enter="runCmd()" /></div>
</div> -->
