<p>
    <br />
    <i>Games made with the OPengine</i>
</p>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="#!/games/SetInStone" class="game featured" style="background-image: url(content/imgs/SetInStoneHeader.png);">
            <h1>Set in Stone</h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="game">
            <h1>Don't get eaten</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>Shapeshift</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>Degree</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>S</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>TAGjam 13</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>TAGjam 10</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>Beneath the Surface</h1>
        </a>
    </div>
    <div class="col-md-4">
        <a class="game">
            <h1>Splat!</h1>
        </a>
    </div>
</div>
