<div class="row extrapadding section detail">
    <div class="col-xs-12 text-left">
      <p><b><i>The marketplace is in very early beta. Don't assume anything will work correctly yet.</i></b></p>
        <h2 class="title">
          Addons
        </h2>
        <div>
          <div class="addon" ng-repeat="addon in addons" ng-click="install(addon)">
            <div class="addon-title">{{addon.name}}</div>
            <div class="addon-category">{{addon.category}}</div>
            <div class="addon-installed" ng-if="addon.installed">{{addon.installedVersion}} Installed</div>
            <div class="addon-author">{{addon.author}}</div>
          </div>
        </div>
	</div>
</div>
